@import url('https://fonts.googleapis.com/css2?family=Lato');

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #017a9b;
  --secondary: #525c65;
  --terciary: #d3d3d3;
  --brand: #d23228;
  --success: #0d7d4d;
  --info: #03c7e8;
  --warning: #f0cc00;
  --danger: #ab0d02;
  --light: #f1ecea;
  --dark: #00262b;
  --white: #fff;
  --lato-font: 'Lato', sans-serif;
}

body {
  font-family: var(--lato-font);
  color: var(--secondary);
  background: var(--light);
}

.container {
  max-width: 760px;
  margin: auto;
}

ul {
  list-style: none;
}

.main-title {
  font-size: 48px;
  margin: 32px 0;
  padding: 10px 24px;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 8px 10px 20px 0 rgba(1, 7, 12, 0.2);
}

.main-area {
  display: flex;
  gap: 24px;
}

.results {
  flex: 50%;
  padding: 24px;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 8px 10px 20px 0 rgba(1, 7, 12, 0.2);
}

.result-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.result-header h2 {
  font-size: 32px;
}

.result-list li {
  font-size: 20px;
  padding: 5px;
  border: 2px solid grey;
}

.entries {
  flex: 30%;
  padding: 24px;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 8px 10px 20px 0 rgb(46 61 73 / 20%);
}

.entries-title {
  margin: 24px 0;
  font-size: 32px;
}

.entries-form {
  display: flex;
  flex-direction: column;
}

.form-control {
  font-size: 20px;
  padding: 5px;
  margin: 8px 0;
  border-radius: 5px;
}

.form-submit {
  text-align: right;
  margin: 8px 0;
}

.btn {
  padding: 5px 10px;
  font-size: 16px;
  color: var(--white);
  border-radius: 5px;
  border: 0.125rem solid transparent;
  background-color: var(--primary);
  box-shadow: 8px 10px 20px 0 rgb(46 61 73 / 15%);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.hidden {
  display: none;
}

#post-message {
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 8px 10px 20px 0 rgb(46 61 73 / 20%);
}
